<section>

    <h4>Jukebox Documentation</h4>
    <table class='table table-striped'>
        <tr>
            <td>
                <code>
              Jukebox():Jukebox
            </code>
            </td>
            <td>Returns a new Jukebox instance. Each jukebox has its own audio context. Create a new jukebox instance to begin.</td>
        </tr>
        <tr>
            <td>
                <code>
                jukebox.getSynth(
                schema:synthesizerSchema):Synthesizer
              </code>
            </td>
            <td>Returns a new synthesizer object suitable for keyboard or drums.</td>
        </tr>
        <tr>
            <td>
                <code>
                jukebox.getModulator(
                schema:modulatorSchema):Modulator
              </code>
            </td>
            <td>Returns a new modulator object suitable for generating tones based on frequencies.</td>
        </tr>
    </table>
</section>
