<section class=metronome>
    <h2>
        Jukebox.js Metronome
    </h2>
    <div class="row">

        <div class="col-sm-6">
            BPM
            <div class="row">
                <div class="col-xs-6">
                    <input class='form-control input-lg' type="text" ng-model=config.bpm>
                    <input type="range" ng-model=config.bpm min=20 max=280>
                    
                </div>
                <div class="col-xs-6">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        {{config.beatsPerMeasure}} / 4
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="bpm in [1,2,3,4,5,6,7]" role="presentation"><a href ng-click="config.beatsPerMeasure = bpm">{{bpm}} / 4</a>
                        </li>
                    </ul>
                </div>

                    
                </div>
            </div>

           
            <button class="btn btn-default btn-lg" ng-class="{'btn-primary': !config.playing}" ng-click="play()">
                Play
            </button>
            <button class="btn btn-default btn-lg" ng-class="{'btn-primary': config.playing}" ng-click="stop()">
                Stop
            </button>
        </div>
        <div class="col-sm-6 display">
            <div class="metronome-visualizer"  ng-class="{'active':getPhaseModulus(2) === 0}" >
                <div class="inner" style="transition: {{60/config.bpm}}s all;"></div>
            </div>
            <h3>
                {{config.bpm}} 
            </h3>
            <h4>
                
                {{getPhaseModulus(config.beatsPerMeasure) || config.beatsPerMeasure}} / {{config.beatsPerMeasure}}
            </h4>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
