<section>

    <h4>
            ModulatorSchema
          </h4>
    <p>
        A modulatorSchema is passed to the constructor of a modulator and configures its behavior.
    </p>
    <h4>ModulatorSchema Documentation</h4>
    <table class='table table-striped'>
        <tr>
            <td>
                <code>
                modulatorSchema.frequency:Number
              </code>
            </td>
            <td>
                <p>
                    Configures the default frequency of a modulator.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulatorSchema.envelope:{ timeIn:Number,timeOut:Number }
              </code>
            </td>
            <td>
                <p>
                    Sets the time over which the sound fades in or out in milliseconds.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulatorSchema.oscillators:[]OscillatorSchema
              </code>
            </td>
            <td>
                <p>
                    An array of one or more oscillator schemas that the modulator will use.
                </p>
                <p>
                    A valid <code>OscillatorSchema</code> is any of the following strings: <code>"sawtooth","sine","square","triangle"</code>.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulatorSchema.adjustor:Function(modulator:Modulator,phase:Integer)
              </code>
            </td>
            <td>
                <p>
                    Defines a function that is called on each modulator every timer interval.
                </p>
                <p>
                    <code>@modulator:</code> An instance of each modulator that can be modified at play-time.
                </p>
                <p>
                    <code>@phase:</code> A number that will increase by one each timer interval.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulatorSchema.submodulators:[]ModulatorSchema
              </code>
            </td>
            <td>
                <p>
                    An array of schemas for submodulators that inherit their parents frequency, and start and stop when it does.
                </p>
                <p>
                    Nesting of up to 16 levels is supported, allowing for powerful customization.
                </p>
            </td>
        </tr>
    </table>
</section>
