<section>
    <h4>Modulator Documentation</h4>
    <table class='table table-striped'>
        <tr>
            <td>
                <code>Modulator(modulatorSchema):constructor</code>
            </td>
            <td>
                <p>
                    Creates a new modulator based on the schema. See schema section for more information.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulator.play():null
              </code>
            </td>
            <td>
                <p>
                    Plays a tone of the frequency specified
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulator.stop():null
              </code>
            </td>
            <td>
                <p>
                    Stops the modulator.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulator.frequency:Number
              </code>
            </td>
            <td>
                <p>
                    Read - returns the frequency of the modulator.
                </p>
                <p>
                    Write - sets the frequency of the modulator.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                modulator.volume:Number
              </code>
            </td>
            <td>
                <p>
                    Read - returns the volume of the modulator.
                </p>
                <p>
                    Write - sets the volume of the modulator as a value from 0 to 1.
                </p>
            </td>
        </tr>
        <!-- <tr>
              <td>
              <code>
                modulator.bend:Number
              </code>
              </td>
              <td>
                <p>
                  Bend is a number amount to add to the frequency at play time without changing it. It is used mainly for tremolo.
                </p>
                <p>
                  Read - returns the bend of the modulator.
                </p>
                <p>
                  Write - sets the bend of the modulator as a value.
                </p>
                </td> 
            </tr> -->
        <tr>
            <td>
                <code>
                modulator.envelope
                :Object{timeIn:Number,timeOut:Number}
              </code>
            </td>
            <td>
                <p>
                    Sets the envelope of the pitch produced by the sound. <code>timeIn</code> is the amount of time the sound fades in, and <code>timeOut</code> is the amount of time it fades out.
                </p>
                <p>
                    Read - returns the envelope of the modulator.
                </p>
                <p>
                    Write - sets the envelope of the modulator as a value.
                </p>
            </td>
        </tr>
    </table>
</section>
