<section>
    <h4>Modulator Demo</h4>
    <div class="demo" ng-controller=ModulatorDemo>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Modulators
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="mod in modulators" role="presentation"><a href ng-click="config.modulator = mod">{{mod.name}}</a>
            </li>
          </ul>
        </div>
        <div class="" modulator=config.modulator modulator-basic-view>
        </div>
    </div>
</section>
