<section>
    <h4>Synthesizer Documentation</h4>
    <table class='table table-striped'>
        <tr>
            <td>
                <code>
                Synthesizer(synthesizerSchema):constructor
              </code>
            </td>
            <td>
                <p>
                    Creates a new sythesizer based on the schema. <code>SynthesizerSchema</code> defines one or more modulators for the synthesizer to use, and a function for processing integer input. See SynthesizerSchema section for more information.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <code>
                 Synthesizer.play(note:Integer):null
               </code>
            </td>
            <td>
                <p>
                    Synthesizer processes this input in a fashion custom to an individual synthesizer configuration.
                </p>
                <p>
                    Typically, calling this with any positive integer will produce a sound.
                </p>
            </td>
        </tr>
    </table>
</section>
