<section>
    <h3>
        About Modulators
    </h3>
    <p>
        A modulator is a collection of zero or more oscillators and zero or more submodulators. Modulators are used to play single tones.
    </p>
    <p>
    	Modulators mostly exist to be composed into Synthesizers. However, they are still useful on their own if  you need more individual control over sounds.
    </p>
    <p>
        Modulators can implement any number of submodulators, which inherit the highest ancestor's frequency, and play and stop when it does.
    </p>
</section>
