<article>
    <h2>Documentation</h2>

    <article>
    	<h3>The Jukebox Object</h3>
   <div ng-include="'partials/jukebox-documentation.html'"></div>
   </article>

    <article>
    	<h3>Modulators</h3>
   <div ng-include="'partials/modulator-documentation.html'"></div>
   <div ng-include="'partials/modulator-schema.html'"></div>
   <!-- <div ng-include="'partials/modulator-examples.html'"></div> -->
    </article>
    <article>
    <h3>Synthesizers</h3>    	
   <div ng-include="'partials/synthesizer-documentation.html'"></div>
   <div ng-include="'partials/synthesizer-schema.html'"></div>
   <!-- <div ng-include="'partials/synthesizer-examples.html'"></div> -->
    </article>

    
</article>
