<article>
    <h2>Full Documentation</h2>
    <article>
        <h3>
          Jukebox
        </h3>
        <div ng-include="'partials/about-jukebox.html'"></div>
        <div ng-include="'partials/jukebox-documentation.html'"></div>

    </article>
    <article>
        <h3>
            Modulator
          </h3>
        <div ng-include="'partials/about-modulators.html'"></div>
        <div ng-include="'partials/modulator-documentation.html'"></div>
        <div ng-include="'partials/modulator-schema.html'"></div>
        <div ng-include="'partials/modulator-examples.html'"></div>
        <div ng-include="'partials/modulator-demos.html'"></div>
    </article>
    <article>
        <h3>
          Synthesizer
        </h3>
        <div ng-include="'partials/about-synthesizers.html'"></div>
        <div ng-include="'partials/synthesizer-documentation.html'"></div>
        <div ng-include="'partials/synthesizer-schema.html'"></div>
        <div ng-include="'partials/synthesizer-example-usage.html'"></div>
        <div ng-include="'partials/synthesizer-demos.html'"></div>
    </article>
</article>
