<article>
    <div class="jumbotron">
        <h1>jukebox.js</h1> <img src="images/logo notext.svg" class=logo alt="">
        <p class="lead">Custom Audio with the Web Audio API
        </p>
    </div>
    <h2>
	    	Jukebox.js: Custom Audio with the Web Audio Api
	    </h2>
    <p>
        Jukebox.js is a library for making sounds and music from <em>scratch</em> using Javascript and the H%ML5 Web Audio API.
    </p>
    <p>
        Getting started just takes a minute. Check out the getting started guide.
    </p>
    <h3>Why Jukebox.js?</h3>
    <p>
        In addition to being stupid awesome, making music and sounds natively using Javascript has lots of advantages.
    </p>
    <ul>
        <li>
            Songs sequenced for Jukebox.js are way smaller than mp3 files and sound cleaner
        </li>
        <li>
            Music you make can react to user input like in Squaretide, a game using Jukebox.js
        </li>
        <li>
            Jukebox.js is less than 2kbs minified
        </li>
        <li>
            Jukebox.js comes loaded with lots of preset sounds, so you can get started making music right away.
        </li>
    </ul>
    <h3>
    	What can I use Jukebox.js for?
    </h3>
    <ul>
        <li>
            Keyboards, drums machines, even flutes &ndash; musical instruments of every kind &ndash; Jukebox.js was designed was mobile support in mind and multi-touch as a first-class citizen
        </li>
        <li>
            Games &ndash; using Jukebox.js is extremely size-effective. It's also customizable and has a chiptunes feel right out of the box. Games like Super Mario have sound tracks that work using very similar technology.
        </li>
        <li>
            UI sounds &ndash; respond to user swipes and taps with custom sounds depending on speed, distance, and and other variables desired
        </li>
        <li>
            Having fun &ndash; just load up a synth made with Jukebox on your iPad and jam away with your friends
        </li>
    </ul>
</article>
