<section>
  <h4>
    Modulator Example Usage
  </h4>
  <p>
    In this example you will create a modulator and have it play a note.
  </p>
<pre><code>var modulatorSchema = {
  name: "Grigsby 2260", // optional name for no reason
  oscillators: [SINE, SAW], 
  submodulators:[{
      oscillators:[SAW],
      envelope:{
          timeIn:10,
          timeOut:111,
      }
  },
  adjustor:function(modulator,phase){
    modulator.bend += Math.sin(phase) * 50;
  },
  envelope: {
      timeIn: 48,
      timeOut: 96
  },
  frequency: 420,
}

var modulator = Jukebox.getModulator(modulatorSchema);

modulator.play();
jukebox.timer.setTimeout(modulator.stop,256)</code></pre>


  <div class="demo">
      <h5>Demo</h5>
      <div modulator-basic-view modulator=modulator1></div>
  </div>
</section>
