<section class=sequencing-studio>
    <h2>
		Sequencing Studio
	</h2>
        <div class="track" ng-repeat='track in tracks | limitTo:2'>
            <div class="measure" ng-repeat='measure in track.measures | limitTo:12'>
            <div>	
            	{{$index+1}}
            </div>
            	<div class="beat" ng-repeat='beat in config.beatsPerMeasure track by $index'>
            	<div>	
            		{{$index+1}}
            	</div>

	                <div class=tone ng-repeat='tone in config.tones' studio-tone ng-click='track.play(tone.frequency,100)'>

	                    {{tone.name}}
	                    <!-- {{tone.frequency}} -->
	                    <!-- measure -->
	                </div>
                <!-- measure -->
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="clearfix"></div> -->
</section>
