<section>

    <h4>
            Synthesizer Example Usage
          </h4>
    <p>
        In this example, you will create a synthesizer that implements several modulators and plays music.
    </p>
    <pre><code>var modulatorSchema = {
    oscillators: ["sine","sine"],
    envelope: {
        timeIn: 10,
        timeOut: 10,
    }
}

var synthesizerSchema = {
  "Omaha DS6": {
      name: "Omaha DS6",
      modulators: [modulatorSchema],
      toneMap: function(modulators, tone) {
        modulators.forEach(function(modulator) {
          var freq = 220 + (220 * tone / 13)
          modulator.frequency = freq;
          modulator.play();
      })
    }
  },
};

var synthesizer = Jukebox.getSynth(synthesizerSchema);
synthesizer.play(7); // beep
synthesizer.play(2); // boop</code></pre>
</section>
