<section class=tuner>
    <h2>
		Jukebox.js Tuner
	</h2>
    <div class="row">

        <div class="col-sm-6">
        <div class="scales">
        	
		<button class="btn btn-default btn-lg" ng-click="scale=guitar">Guitar</button>
		<button class="btn btn-default btn-lg" ng-click="scale=bass">Bass</button>
		<button class="btn btn-default btn-lg" ng-click="scale=chromatic">Chromatic</button>
        </div>
        <!-- <div ng-if="tunerKind=='chromatic'"> -->
        <div>
        	
            <button class="btn btn-default" ng-class="{'btn-primary': note == config.selected}" ng-repeat='note in scale | limitTo:100 track by $index ' ng-click="config.selected = note">{{note.name}}</button>
        </div>
        <!-- </div> -->
       <!--  <div ng-if="tunerKind=='guitar'">
            <button class="btn btn-default" ng-repeat='note in scale track by $index | filter:onlyGuitar' ng-click="selected.note = note; selected.index = note.index">{{note.name}}</button>
        </div> -->
        </div>
        <div class="col-sm-6 display">
        <h3>
        	
			{{config.selected.name}}
        </h3>
        <h4>
        	
			{{config.selected.frequency | number:2}}
        </h4>
			<!-- {{selected}} -->
        <button class="btn btn-primary btn-lg" ng-click="modulator.frequency = config.selected.frequency; modulator.play();">
        	Play
        </button>
        <button class="btn btn-default btn-lg" ng-click="modulator.stop()">
        	Stop
        </button>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
