<!doctype html>
<html class="no-js" ng-app=Demo>

<head>
    <meta charset="utf-8">
    <title>jukeboxjs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- <link rel="stylesheet" href="styles/custom-bootstrap.css" /> -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if IE]>
      <h3>IE does not support the web audio API.</h3>
    <![endif]-->


    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">Home</a>
                </li>
                <li><a href="#">Getting Started</a>
                </li>
                <li><a href="#">Documentation</a>
                </li>
                <li><a href="#">Examples</a>
                </li>
                <li><a href="#">Demos</a>
                </li>
            </ul>
            <h3 class="text-muted">jukeboxjs</h3>
        </div>

        <div class="jumbotron">
            <h1>jukebox.js</h1>
            <p class="lead">Jukebox.js says... beep! Boop!
                <span class="glyphicon glyphicon-user"></span>
            </p>

            <p><a class="btn btn-lg btn-special" href="#" onclick=playMario()>?</a>
            </p>
        </div>

        <div class="row marketing">
            <h2>Full Documentation</h2>
            <article>
              
            <h3>
            Jukebox
          </h3>
          <div ng-include="'partials/about-jukebox.html'"></div>
          <div ng-include="'partials/jukebox-documentation.html'"></div>

            </article>
            <article>
              


            <h3>
            Modulator
          </h3>
            <p>
                A modulator is a collection of zero or more oscillators and zero or more submodulators. Modulators are used to play single tones, for example for a video game.
            </p>
            <p>
                Modulators can implement any number of submodulators, which inherit the highest ancestor's frequency, and play and stop when it does.
            </p>
            <h4>Modulator Documentation</h4>
            <table class='table table-striped'>
                <tr>
                    <td>
                        <code>
                Modulator(modulatorSchema):constructor
              </code>
                    </td>
                    <td>
                        <p>
                            Creates a new modulator based on the schema. See schema section for more information.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulator.play():null
              </code>
                    </td>
                    <td>
                        <p>
                            Plays a tone of the frequency specified
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulator.stop():null
              </code>
                    </td>
                    <td>
                        <p>
                            Stops the modulator.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulator.frequency:Number
              </code>
                    </td>
                    <td>
                        <p>
                            Read - returns the frequency of the modulator.
                        </p>
                        <p>
                            Write - sets the frequency of the modulator.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulator.volume:Number
              </code>
                    </td>
                    <td>
                        <p>
                            Read - returns the volume of the modulator.
                        </p>
                        <p>
                            Write - sets the volume of the modulator as a value from 0 to 1.
                        </p>
                    </td>
                </tr>
                <!-- <tr>
              <td>
              <code>
                modulator.bend:Number
              </code>
              </td>
              <td>
                <p>
                  Bend is a number amount to add to the frequency at play time without changing it. It is used mainly for tremolo.
                </p>
                <p>
                  Read - returns the bend of the modulator.
                </p>
                <p>
                  Write - sets the bend of the modulator as a value.
                </p>
                </td> 
            </tr> -->
                <tr>
                    <td>
                        <code>
                modulator.envelope
                :Object{timeIn:Number,timeOut:Number}
              </code>
                    </td>
                    <td>
                        <p>
                            Sets the envelope of the pitch produced by the sound. <code>timeIn</code> is the amount of time the sound fades in, and <code>timeOut</code> is the amount of time it fades out.
                        </p>
                        <p>
                            Read - returns the envelope of the modulator.
                        </p>
                        <p>
                            Write - sets the envelope of the modulator as a value.
                        </p>
                    </td>
                </tr>
            </table>

            <h4>
            ModulatorSchema
          </h4>
            <p>
                A modulatorSchema is passed to the constructor of a modulator and configures its behavior.
            </p>
            <h4>ModulatorSchema Documentation</h4>
            <table class='table table-striped'>
                <tr>
                    <td>
                        <code>
                modulatorSchema.frequency:Number
              </code>
                    </td>
                    <td>
                        <p>
                            Configures the default frequency of a modulator.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulatorSchema.envelope:{ timeIn:Number,timeOut:Number }
              </code>
                    </td>
                    <td>
                        <p>
                            Sets the time over which the sound fades in or out in milliseconds.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulatorSchema.oscillators:[]OscillatorSchema
              </code>
                    </td>
                    <td>
                        <p>
                            An array of one or more oscillator schemas that the modulator will use.
                        </p>
                        <p>
                            A valid <code>OscillatorSchema</code> is any of the following strings: <code>"sawtooth","sine","square","triangle"</code>.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulatorSchema.adjustor:Function(modulator:Modulator,phase:Integer)
              </code>
                    </td>
                    <td>
                        <p>
                            Defines a function that is called on each modulator every timer interval.
                        </p>
                        <p>
                            <code>@modulator:</code> An instance of each modulator that can be modified at play-time.
                        </p>
                        <p>
                            <code>@phase:</code> A number that will increase by one each timer interval.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>
                modulatorSchema.submodulators:[]ModulatorSchema
              </code>
                    </td>
                    <td>
                        <p>
                            An array of schemas for submodulators that inherit their parents frequency, and start and stop when it does.
                        </p>
                        <p>
                            Nesting of up to 16 levels is supported, allowing for powerful customization.
                        </p>
                    </td>
                </tr>
            </table>

            <h4>
            Modulator Example Usage
          </h4>
            <p>
                In this example you will create a modulator and have it play a note.
            </p>
            <pre><code>var modulatorSchema = {
  name: "Grigsby 2260", // optional name for no reason
  oscillators: [SINE, SAW], 
  submodulators:[{
      oscillators:[SAW],
      envelope:{
          timeIn:10,
          timeOut:111,
      }
  },
  adjustor:function(modulator,phase){
    modulator.bend += Math.sin(phase) * 50;
  },
  envelope: {
      timeIn: 48,
      timeOut: 96
  },
  frequency: 420,
}

var modulator = Jukebox.getModulator(modulatorSchema);

modulator.play();
jukebox.timer.setTimeout(modulator.stop,256)          </code></pre>



            <h4>Modulator Demo</h4>
            <div class="demo" ng-controller=ModulatorDemo>
                <h5>{{modulator.name}}</h5>
                <!-- {{modulator}} -->
                <button class="btn btn-default" ng-click="modulator.play()">On</button>
                <button class="btn btn-default" ng-click="modulator.stop()">Off</button>
                <label for="">
                    Frequency
                    <input type="range" min=20 max=660 step=1 ng-model=modulator.frequency>
                </label>
                <label for="">
                    Volume

                    <input type="range" min=0 max=1 step=0.01 ng-model=modulator.volume>
                </label>
                <!-- {{modulators}} -->
                <select ng-model=modulator ng-options="obj.name for obj in modulators"></select>
                <!-- <input type="range" min=20 max=660 step=1 ng-model=frequency> -->
                <div class="" modulator=modulator modulator-visualizer>

                </div>
            </div>
            </article>
            <article>
                <h3>
              Synthesizer
            </h3>
                <div ng-include="'partials/about-synthesizers.html'"></div>
                <div ng-include="'partials/synthesizer-documentation.html'"></div>
                <div ng-include="'partials/synthesizer-schema.html'"></div>
                <div ng-include="'partials/synthesizer-example-usage.html'"></div>
                <div ng-include="'partials/synthesizer-demos.html'"></div>
     </article>

        </div>

        <div class="footer">
            <p><span class="glyphicon glyphicon-heart"></span> danielstern</p>
        </div>

    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    // (function(b, o, i, l, e, r) {
    //     b.GoogleAnalyticsObject = l;
    //     b[l] || (b[l] =
    //         function() {
    //             (b[l].q = b[l].q || []).push(arguments)
    //         });
    //     b[l].l = +new Date;
    //     e = o.createElement(i);
    //     r = o.getElementsByTagName(i)[0];
    //     e.src = '//www.google-analytics.com/analytics.js';
    //     r.parentNode.insertBefore(e, r)
    // }(window, document, 'script', 'ga'));
    // ga('create', 'UA-XXXXX-X');
    // ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/data/mario.js"></script>
    <script src="scripts/data/schema.js"></script>

    <script src="scripts/web-audio-shim.js"></script>
    <script src="scripts/actionTimer.js"></script>
    <script src="scripts/jukebox.js"></script>
    <script src="scripts/Drums.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>
