<!doctype html>
<html class="no-js" ng-app=Demo>
  <head>
    <meta charset="utf-8">
    <title>jukeboxjs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- <link rel="stylesheet" href="styles/custom-bootstrap.css" /> -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
     <!--  <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">jukeboxjs</h3>
      </div> -->

      <div class="jumbotron">
        <h1>jukebox.js</h1>
        <!-- <p class="lead">Always a pleasure scaffolding your apps.</p> -->
        <p><a class="btn btn-lg btn-special" href="#" onclick=playMario()>?<!-- <span class="glyphicon glyphicon-ok"></span> --></a></p>
      </div>

      <div class="row marketing">
        <!-- <div class="col-lg-12"> -->
          <h2>API</h2>
          <p>Linking to the script creates a global <code>Jukebox class</code></p>
          <h3>
            Jukebox
          </h3>
          <p>
            A jukebox instance creates one web audio context instance. Used mainly for getting modulators and synthesizers.
          </p>
          <table class='table table-striped'>
          <tr>
            <td>
            <code>
              Jukebox():Jukebox
            </code>
            </td>
            <td>Returns a new Jukebox instance. Each jukebox has its own audio context. Create a new jukebox instance to begin.</td>
          </tr>
            <tr>
              <td>
              <code>
                jukebox.getSynth(synthesizerSchema):Synthesizer
              </code>
              </td>
              <td>Returns a new synthesizer object suitable for keyboard or drums.</td>
            </tr>
            <tr>
              <td>
              <code>
                jukebox.getModulator(modulatorSchema):Modulator
              </code>
              </td>
              <td>Returns a new modulator object suitable for generating tones based on frequencies.</td>
            </tr>
          </table>


          <h3>
            Modulator
          </h3>
          <p>
            A modulator is a collection of one or more oscillators. Modulators are used to play single tones, for example for a video game.
          </p>
          <table class='table table-striped'>
            <tr>
              <td>
              <code>
                Modulator(modulatorSchema):constructor
              </code>
              </td>
              <td>
                <p>
                  Creates a new modulator based on the schema. See schema section for more information.
                </p>
                </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulator.play():null
              </code>
              </td>
              <td>
                <p>
                  Plays a tone of the frequency specified
                </p>
                </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulator.stop():null
              </code>
              </td>
              <td>
                <p>
                  Stops the modulator.
                </p>
                </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulator.frequency:Number
              </code>
              </td>
              <td>
                <p>
                  Read - returns the frequency of the modulator.
                </p>
                <p>
                  Write - sets the frequency of the modulator.
                </p>
                </td> 
            </tr>
          </table>

          <h4>
            ModulatorSchema
          </h4>
          <p>
            A modulatorSchema is passed to the constructor of a modulator and configures its behavior.
          </p>
          <table class='table table-striped'>
            <tr>
              <td>
              <code>
                modulatorSchema.frequency:Number
              </code>
              </td>
              <td>
                <p>
                  Configures the default frequency of a modulator.
                </p>
              </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulatorSchema.envelope:{ timeIn:Number,timeOut:Number }
              </code>
              </td>
              <td>
                <p>
                  Sets the time over which the sound fades in or out in milliseconds.
                </p>
                </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulatorSchema.oscillators:[]OscillatorSchema
              </code>
              </td>
              <td>
                <p>
                  An array of one or more oscillator schemas that the modulator will use.
                </p>
                <p>
                  A valid <code>OscillatorSchema</code> is any of the following strings: <code>"sawtooth","sine","square","triangle"</code>.
                </p>
                </td> 
            </tr>
          </table>

          <h4>
            Modulator Example Usage
          </h4>
          <p>
            In this example you will create a modulator and have it play a note.
          </p>
<code><pre>var jukebox = new Jukebox();
var modulator = new Jukebox.modulator({
  name: "Grigsby 2260", // optional name for no reason
  oscillators: [SINE, SAW], 
  envelope: {
      timeIn: 48,
      timeOut: 96
  }
});

modulator.play();
jukebox.timer.setTimeout(modulator.stop,256)
</pre>
          </code>
          <h4>Modulator Demo</h4>
          <div class="demo">
            <h5>Grigsby 2260 Modulation Unit</h5>
            <button class="btn btn-default" ng-click="modulator1.play(frequency,300)">On</button>
            <button class="btn btn-default" ng-click="modulator1.stop()">Off</button>
            <label for="">
                Frequency
            <input type="range" min=20 max=660 step=1 ng-model=modulator1Settings.frequency> 
            </label>
            <label for="">
                Volume
            <input type="range" min=0 max=1 step=0.01 ng-model='modulator1Settings.volume'> 
            </label>
            <!-- <input type="range" min=20 max=660 step=1 ng-model=frequency> -->
          </div>

          <h3>
            Synthesizer
          </h3>
          <p>
            A synthesizer is a collection of modulators. The synthesizer class abstracts playing frequencies into a series of integers starting at <code>0</code>, relating to keys.
          </p>
          <table class='table table-striped'>
           <tr>
              <td>
              <code>
                Synthesizer(synthesizerSchema):constructor
              </code>
              </td>
              <td>
                <p>
                  Creates a new sythesizer based on the schema. <code>SynthesizerSchema</code> defines one or more modulators for the synthesizer to use, and a function for processing integer input.  See SynthesizerSchema section for more information.
                </p>
                </td> 
            </tr>
            <tr>
               <td>
               <code>
                 Synthesizer.play(note:Integer):null
               </code>
               </td>
               <td>
                 <p>
                   Synthesizer processes this input in a fashion custom to an individual synthesizer configuration. 
                 </p>
                 <p>
                   Typically, calling this with any positive integer will produce a sound.
                 </p>
                 </td> 
             </tr>
            <!-- <tr>
              <td>
              <code>
                synthesizer.sequence([{ frequency:Number , duration:Number }...])
              </code>
              </td>
              <td><p>
                  Plays a sequence of tones one after the other. 
                </p>
                </td> 
            </tr> -->
          </table>

          <h4>Synthesizer Schema</h4>
          <p>
            A synthesizer schema configures a synthesizer object, and defines things like number of modulators and a function for processing input.
          </p>
          <table class='table table-striped'>
            <tr>
              <td>
              <code>
                synthesizerSchema.modulators:[]ModulatorSchema
              </code>
              </td>
              <td>
                <p>
                  An array of modulator schemas that define what modulators the synthesizer will implement.
                </p>
              </td> 
            </tr>
            <!-- <tr>
              <td>
              <code>
                modulatorSchema.envelope:{ timeIn:Number,timeOut:Number }
              </code>
              </td>
              <td>
                <p>
                  Sets the time over which the sound fades in or out in milliseconds.
                </p>
                </td> 
            </tr>
            <tr>
              <td>
              <code>
                modulatorSchema.oscillators:[]OscillatorSchema
              </code>
              </td>
              <td>
                <p>
                  An array of one or more oscillator schemas that the modulator will use.
                </p>
                <p>
                  A valid <code>OscillatorSchema</code> is any of the following strings: <code>"sawtooth","sine","square","triangle"</code>.
                </p>
                </td> 
            </tr> -->
          </table>
          <h4>Synthesizer Example</h4>
          <div keyboard class="keyboard">
                <!-- <button key ng-repeat="tone in tones" ng-class="{'mouseover':mouseover,'playing':playing}" tone=tone class='key'>  -->
                <!-- notes? {{synthNotes}} -->
                <button ng-repeat='note in synthNotes' key class=key ng-click=keys.play(note)></button>
                <!-- <button key ng-click=keys.play(1)></button> -->
                <!-- <button key ng-click=keys.play(2)></button> -->
                <!-- <button key ng-click=keys.play(3)></button> -->
                <!-- <button key ng-repeat="tone in tones" ng-class="{'mouseover':mouseover,'playing':playing}" tone=tone class='key'>  -->
            </button>

        </div>
<!-- 
          <h4>Example</h4>
          <h5>
            Create a synthesizer
          </h5>
<pre><code>var jukebox = new Jukebox();
var moog = new jukebox.getSynth();</pre></code>

          <h5>
            Play a tone
            <button class="btn btn-primary" onclick=playNote(440,300)>
              Try it!
            </button>
          </h5>
<pre><code>moog.tone(440,300);</pre></code>

          <h5>
            Play a harmony
            <button class="btn btn-primary" onclick=playNote(392,300);playNote(262,300);>
              Try it!
            </button>
          </h5>
<pre><code>var moog = new jukebox.Synth();
var korg = new jukebox.Synth();
moog.tone(392,300);
korg.tone(262,300);
</pre></code>



          <h5>
            Play a sequence
            <button class="btn btn-primary" onclick=theme()>
              Try it!
            </button>
          </h5>
<pre><code>moog.sequence([{
  frequency:294,
  duration:500,
},{
  frequency:330,
  duration:500,
},{
  frequency:262,
  duration:500,
},{
  frequency:131,
  duration:500,
},{
  frequency:196,
  duration:500,
}]);
</pre></code>
 -->
      <h3>
        Drums
      </h3>
      <!-- <p>
        Creates an instrument that creates percussive noises.
      </p>
      <table class='table table-striped'>
        <tr>
          <td>
          <code>
            drum.tone(tone:int):null
          </code>
          </td>
          <td><p>
            Plays a tone corresponding to the specified integer as configured by the individual drum set.
            </p>
            <p>
              Recommended values are as follows - 0: kick drum, 1: snare, 2: hi-hat, 3: cymbal
            </p>
            </td> 
        </tr>
      </table> -->

      <button class="btn btn-default" onclick=drums.play(0)>Kickdrum</button>
      <button class="btn btn-default" onclick=drums.play(1)>Snare</button>
      <button class="btn btn-default" onclick=drums.play(2)>cymbal</button>
      <button class="btn btn-default" onclick=drums.play(3)>crash</button>
      <!-- <button class="btn btn-default" onclick=drums.hihat()>hihat</button> -->
      <!-- <button class="btn btn-default" onclick=playDrums()>Drum Machine</button> -->

        <!-- </div> -->
      </div>

      <h3>Keys</h3>
      <p>
        Play some sweet keys dude.
      </p>
      <button onclick=keys.play(0)>Key 1</button>
      <button onclick=keys.play(1)>Key 2</button>
      <button onclick=keys.play(2)>Key 3</button>
      <button onclick=keys.play(3)>Key 4</button>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> danielstern</p>
      </div>

    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

        <!-- build:js(.) scripts/plugins.js -->

        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/data/mario.js"></script>
        <script src="scripts/data/schema.js"></script>

        <script src="scripts/web-audio-shim.js"></script>
        <script src="scripts/actionTimer.js"></script>
        <script src="scripts/transforms.js"></script>
        <script src="scripts/jukebox.js"></script>
        <script src="scripts/Drums.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
